html {
  height: 100%;
}
.row{

    background-color:red;
    color:purple;
    font-size:25px;
    display:flex;
    justify-content:space-around;
}
.headshot{
    width:20%;
}
.mid{
    background-color:white;
    color:red;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;
}





/*html {
    height: 100%;}

body {
    height: 100%;}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
